*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        display: grid;
        grid-template-columns: auto 300px;
    }

    header {
        background-color:  #413f3f;
        color: white;
        padding: 2rem;
        grid-column: 1 / 3;
    }
    
    nav {
        background-color: #111111;
        color: white;
        grid-column: 1/3;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    
    nav ul li {
        list-style-type: none;
    }
    
    main {
        background-color: #c2c2c2;
        color: black;
        height: 200px;
        padding: 2rem;
    }
    
    aside {
        padding: 2rem;
    }
    
    footer {
        background-color: #272727;
        color: white;
        padding: 2rem;
        height: 125px;
        grid-column: 1/3;    }